
# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build UI - Windows

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    

jobs:
  generate_sln:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ windows-latest ]

    steps:
      - uses: actions/checkout@v4
      - name: Get Release
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: 'GlitchedFlow/luna-build'
          version: 'tags/v1.1'
          file: 'v1.1_Luna.zip'
      - name: Unzip Release
        run: 7z x v1.1_Luna.zip
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Build Solution
        run: ./CLI.exe ./Tools/Luna/Scripts/build_windows.lusc
      - name: Remove zip
        run: rm v1.0_Luna.zip
      - name: Build CLI
        run: dotnet build ./solution/Windows/Luna/UI/UI.Desktop/UI.Desktop.csproj
